.master {
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;
	display: grid;
	grid-template-columns: 50px auto 50px;
	grid-template-rows: 50px auto 50px;
	grid-template-areas:
		'important important important'
		'urgent grid not-urgent'
		'not-important not-important not-important';
}

.important {
	grid-area: important;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555b5e;
}

.urgent {
	grid-area: urgent;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555b5e;

	span {
		transform: rotate(-90deg);
	}
}

.not-urgent {
	grid-area: not-urgent;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555b5e;

	span {
		transform: rotate(90deg);
		text-wrap: nowrap;
	}
}

.grid {
	grid-area: grid;
}

.not-important {
	grid-area: not-important;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555b5e;
}

.drag-icon {
	cursor: grab;
	position: relative;
	width: 25px;
	height: 25px;
	flex-shrink: 0;
	outline: none;

	&:focus-visible {
		border: 1px solid white;
	}
}

.add-button {
	background-color: transparent;
	display: flex;
	align-items: center;
	gap: 5px;
	margin-left: 8px;
	margin-top: 8px;
	cursor: pointer;
	outline: none;

	&:focus-visible {
		border: 1px solid white;
	}
}

.add-input {
	background-color: transparent;
	border: 1px dashed black;
	margin-left: 8px;
	outline: none;
	padding: 2px 5px;

	&:focus {
		border: 2px solid black;
	}
}

.container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-sizing: border-box;
	outline: none;
	transition: background-color 350ms ease;
	background-color: rgba(246, 246, 246, 1);
	border: 1px solid rgba(0, 0, 0, 0.05);

	ul {
		display: flex;
		grid-gap: 10px;
		flex-direction: column;
		list-style: none;
		padding: 20px 20px 20px 0;
		margin: 0;
		overflow-y: auto;
	}

	&:focus-visible {
		border-color: transparent;
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), 0 0px 0px 2px #4c9ffe;
	}
}

.do {
	background-color: #4bad00;
	padding: 5px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.schedule {
	background-color: #0067be;
	padding: 5px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.delegate {
	background-color: #bf8300;
	padding: 5px;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
}

.delete {
	background-color: #9c003e;
	padding: 5px;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 25px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 5px;
}

.clear-all-button {
	cursor: pointer;
	background-color: transparent;
	outline: none;

	&:focus-visible {
		border: 1px solid black;
	}
}

@keyframes pop {
	0% {
		transform: scale(1);
		box-shadow: var(--box-shadow);
	}
	100% {
		transform: scale(var(--scale));
		box-shadow: var(--box-shadow-picked-up);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.wrapper {
	display: flex;
	box-sizing: border-box;
	transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
		scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));
	transform-origin: 0 0;
	touch-action: manipulation;
	align-items: center;
}

.item {
	padding-left: 5px;
	box-shadow: 0px 1px 2px 1px #000;
	background-color: transparent;
	display: flex;
	flex-grow: 1;
}

.value {
	flex-grow: 1;
	outline: none;

	&:focus-visible {
		border: 1px solid white;
	}
}

.menu {
	border-left: 1px solid black;
	margin-left: 5px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	gap: 5px;
	padding-inline: 5px;
}

.menu-icon {
	cursor: pointer;
	width: 15px;
	height: 15px;
	flex-shrink: 0;
	background-color: transparent;
	outline: none;

	&:focus-visible {
		border: 1px solid white;
	}
}

.edit-input {
	background-color: transparent;
	height: 21px;
	outline: none;
	flex-grow: 1;
	font-size: 16px;
	font-family: var(--font-geist-mono);
	outline: none;

	&:focus-visible {
		border: 1px solid white;
	}
}
