.container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-sizing: border-box;
	outline: none;
	transition: background-color 350ms ease;
	background-color: rgba(246, 246, 246, 1);
	border: 1px solid rgba(0, 0, 0, 0.05);

	ul {
		display: flex;
		grid-gap: 10px;
		flex-direction: column;
		list-style: none;
		padding: 20px 20px 20px 0;
		margin: 0;
		overflow-y: auto;
	}

	&:focus-visible {
		border-color: transparent;
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), 0 0px 0px 2px #4c9ffe;
	}
}

.do {
	background-color: #4bad00;
	padding: 5px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.schedule {
	background-color: #0067be;
	padding: 5px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.delegate {
	background-color: #bf8300;
	padding: 5px;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
}

.delete {
	background-color: #9c003e;
	padding: 5px;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 25px;
}
